{% extends "base.html" %}

{% block title %}About - My Website{% endblock %}

{% block content %}
<h1>Наша компания</h1>
<p>Добро пожаловать в Нашу компанию! Мы — ведущая компания в области профессионального обучения и развития. Наша миссия — помочь вам и вашей команде достичь новых высот в карьере и бизнесе.

<h2>Наши услуги</h2>

<p>Мы предлагаем широкий спектр обучающих программ, адаптированных под ваши потребности:</p>
<p>Корпоративное обучение: Специально разработанные курсы для компаний, которые хотят повысить квалификацию своих сотрудников.<br>
Профессиональные сертификации: Подготовка к сертификационным экзаменам в различных областях, таких как управление проектами, IT, маркетинг и многое другое.<br>
Онлайн-курсы: Удобный формат обучения, который позволяет учиться в любое время и в любом месте.<br>
    Мастер-классы и тренинги: Интенсивные занятия с ведущими экспертами отрасли, направленные на развитие конкретных навыков.</p>

{% endblock %}